@import '~bootstrap';
@import '~bootstrap-vue';

:root{
  --color-gray-darkest: #111;
  --color-gray: #777;
  --color-gray-light: #ddd;
  --color-gray-lighter: #f4f4f4;

  --color-text: var(--color-gray-darkest);
  --color-text-light:  var(--color-gray);
}
